<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Confirmation d'adoption</title>
    </head>
    <body>
        <h2> L'ajout de l'animal a bien été effectué ! </h2>

        <br>
        <p>Adoption réussie, voici le résumé du formulaire:</p>
        <!--ajouter une image -->
        <h1>Nom de l'animal:{{nom}} </h1>
        <p>Espèce  {{espece}}:</p>
        <p>Race : {{race}}</p>
        <p>Age : {{age}}</p>
        <p>Description : {{description}} </p>
        <p>Courriel : {{email}}</p>
        <p>Adresse: {{adresse}} </p>
        <p>Ville :{{ville}}</p>
        <p>Code postal: {{codepostal}}</p>

        <a href='/'> Retour à l'accueil </a>
        

    </body>
</html>




